replicaCount: 3

image:
  repository: lironyo98/flask_quakeqatch
  tag: "0.2.1"
  pullPolicy: IfNotPresent

containerPort: 5000

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000
  name: svc-quake-watch

resources:
  requests:
    memory: "128Mi"
  limits:
    memory: "256Mi"

livenessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 20
  periodSeconds: 15

readinessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 15
  periodSeconds: 15

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 40

configMap:
  FLASK_ENV: prod
  APP_NAME: "quake-watch"

cronJob:
  enabled: true
  schedule: "*/50 * * * *"
  image: curlimages/curl:latest
  path: /
  restartPolicy: OnFailure
  backoffLimit: 3
  namespace: quake-watch-prod

labels:
  app: quake-watch
  env: prod

namespace: quake-watch-prod
