name: Package and Publish Helm Chart

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: 'v3.13.0'

      - name: lint chart
        run: |
          helm lint quakewatch-chart/

      - name: Template chart with prod values
        run: |
          helm template quakewatch quakewatch-chart/ -f values-prod.yaml

  publish:
    name: Publish to Docker Hub
    needs: lint
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: 'v3.13.0'

      - name: Log in DockerHub
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | helm registry login registry-1.docker.io -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Package chart
        run: |
          helm package quakewatch-chart/ --version 1.0.${{ github.run_number }}

      - name: Push chart to DockerHub
        run: |
          helm push quakewatch-chart-1.0.${{ github.run_number }}.tgz oci://registry-1.docker.io/${{ secrets.DOCKER_USERNAME }}
